$icomoon-font-family: "hans-grietje" !default;
$icomoon-font-path: "fonts" !default;

$icon-marker-path1: unquote('"\\e906"');
$icon-marker-path2: unquote('"\\e907"');
$icon-marker-path3: unquote('"\\e908"');
$icon-marker-path4: unquote('"\\e909"');
$icon-marker-path5: unquote('"\\e90a"');
$icon-marker-path6: unquote('"\\e90b"');
$icon-marker-path7: unquote('"\\e90c"');
$icon-chevron-left: unquote('"\\e900"');
$icon-chevron-down: unquote('"\\e901"');
$icon-chevron-right: unquote('"\\e902"');
$icon-star: unquote('"\\e903"');
$icon-star-half-path1: unquote('"\\e904"');
$icon-star-half-path2: unquote('"\\e905"');

