@font-face {
	font-family: "IvyPrestoDisplay";
	src: url("#{$font-path}/IvyPrestoDisplaySemiBold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "NeueMontreal";
	src: url("#{$font-path}/NeueMontreal-Regular.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "NeueMontreal";
	src: url("#{$font-path}/NeueMontreal-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: block;
}
